*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Golos Text', sans-serif;
  background-color: #f5f5f5;
  background-image: url("../../../assets/container_bg.png");
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokemon-component {
  --square-size: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: var(--square-size);
  height: calc(var(--square-size) + calc(var(--square-size) * 0.2));
  margin-bottom: 10px;

  background-color: #000;
}

.pokemon-image {
  --magic-number: 1.2;

  object-fit: fill;
  width: calc(var(--square-size) / var(--magic-number));
  height: calc(var(--square-size) / var(--magic-number));

  border-radius: 50%;
  cursor: pointer;
}

.pokemon-image:hover {
  /*background-color: rgba(255, 255, 255, .2);*/

  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.pokemon-information {
  --padding: 7.5%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;

  width: 100%;
  padding: 0 var(--padding);

  border-top: white 1px solid;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

.pokemon-information > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-abilities {
  gap: 40px;
}

.pokemon-name-number {
  font-size: 1.5rem;
  font-weight: bold;
}

.visor {
  /*border: 10px solid #000;*/
}